ipython==7.16.1
numpy==1.16.4
scipy==1.2.1
protobuf==3.7.1
scikit-learn==0.21.0
tensorboard==1.15.0
tensorboardX==1.7
torch==1.7.1+cu110
torchaudio==0.7.2
torchvision==0.8.2+cu110
tensorflow-gpu==1.15.0
future==0.17.1
bokeh==1.2.0
pandas==1.1.1
holoviews==1.12.7
hvplot==0.4.0
jsonschema==3.1.1
osqp==0.6.1
onnx==1.8.1